<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body class="edit-page">

  <div class="welcome">
    <h2>
    <% if (currentUser) { %>
    Hi <%=currentUser.username%>!
  </h2>
    <a class="collect-link" href="/ootd/collection">MY COLLECTION</a>

    <form action="/sessions?_method=DELETE" method="POST">
      <a class="welcome-item" href="#"><input class="navBtn" type="submit" value="LOG OUT"></a>
    </form>
    <%  } %>
  </div>


  <div class="edit">
    <h1>Edit Item</h1>
    <form action="/ootd/<%=products.id%>?_method=PUT" method="POST">
      <div class="edit-boxes">Name:<br /> <input type="text" name="name" value="<%=products.name%>"><br /></div>
      <div class="edit-boxes">Brand:<br /> <input type="text" name="brand" value="<%=products.brand%>"><br /></div>
      <div class="edit-boxes">Season:<br /><input type="text" name="season" value="<%=products.season%>"><br /></div>
      <div class="edit-boxes">Price:<br /><input type="text" name="price" value="<%=products.price%>"><br /></div>
      <div class="edit-boxes">Description:<br /> <input type="text" name="description" value="<%=products.description%>"><br /></div>
      <div class="edit-boxes">Image:<br /> <input type="text" name="img" value="<%=products.img%>"><br /></div>
      <div class="edit-boxes">Link: <br />
        <input type="text" name="link" value="<%=products.link%>"><br /></div>
      <% if (currentUser) { %>
      <div>Add to Collection: <input type="checkbox" name="collect"
          <% if (products.collect === true) { %>
            checked
          <% } %>
        ><br /></div>
      <% } %>
      <input class="button" type="submit" value="Edit Product">
    </form>
  </div>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

  <% include ./partials/modal.ejs %>

</body>

</html>
