<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/routesheader.ejs %>
</head>

  <body>

  <div class="item-box">
    <div class="show-img">
      <h1><%=products.name%></h1>
      <img class="showImg" src="<%=products.img%>" alt="pic">
    </div>
    <div class="item-info">
      <h2>Details:</h2>
      <% if (products.brand) { %>
        Brand: <%=products.brand%><br/>
      <% } %>

      <% if (products.season) { %>
        Season: <%=products.season%><br/>
      <% } %>

      <% if (products.price) { %>
        Price: $<%=products.price%><br/>
      <% } %>
      <!-- <% if (products.description) { %>
        Description: <%=products.description%><br/>
      <% } %> -->

      <ul>
      <% for (let i = 0; i < products.description.length; i++) { %>
        <li class="description"><%=products.description[i]%></li>
    <% } %>
    </ul>
    <form action="<%=products.link%>">
      <input class="button" type="submit" value="Additional Product Details">
    </form>

      <form action="/ootd/<%=products.id%>/edit">
        <input class="button" type="submit" value="Edit Item Details">
      </form>

      <form action="/ootd/<%=products.id%>?_method=DELETE" method="POST">
        <input class="deleteBtn" type="submit" value="Delete Item">
      </form>

    </div>
  </div>
</body>
</html>
