<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

  <body class="add-page">

    <div class="welcome">
      <h2>
      <% if (currentUser) { %>
      Hi <%=currentUser.username%>!
    </h2>
      <a class="collect-link" href="/ootd/collection">MY COLLECTION</a>

      <form action="/sessions?_method=DELETE" method="POST">
        <a class="welcome-item" href="#"><input class="navBtn" type="submit" value="LOG OUT"></a>
      </form>
      <%  } %>
    </div>

  <div class="item-box">
    <div class="show-img">
      <h1><%=products.name%></h1>
      <img class="showImg" src="<%=products.img%>" alt="pic">
    </div>
    <div class="item-info">
      <h2>Details:</h2>
      <% if (products.brand) { %>
        Brand: <%=products.brand%><br/>
      <% } %>

      <% if (products.season) { %>
        Season: <%=products.season%><br/>
      <% } %>

      <% if (products.price) { %>
        Price: $<%=products.price%><br/>
      <% } %>


      <ul>
      <% for (let i = 0; i < products.description.length; i++) { %>
        <li class="description"><%=products.description[i]%></li>
    <% } %>
    </ul>
    <form action="<%=products.link%>">
      <input class="button" type="submit" value="Additional Product Details">
    </form>

      <form action="/ootd/<%=products.id%>/edit">
        <input class="button" type="submit" value="Edit Item Details">
      </form>

      <form action="/ootd/<%=products.id%>?_method=DELETE" method="POST">
        <input class="deleteBtn" type="submit" value="Delete Item">
      </form>

    </div>
  </div>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

  <% include ./partials/modal.ejs %>

</body>
</html>
