<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <div class="content">
    <% for (let i = 0; i < products.length; i++) { %>
    <div class="container">
      <%=products[i].name%><br />
      <a href="/ootd/<%=products[i].id%>">
        <img class="index-img" src="<%=products[i].img%>" alt="outfit">
      </a><br />
            <%=products[i].description%>

    <br />
      $<%=products[i].price%><br />

      <a href="<%=products[i].link%>">Click here to Buy!</a>

    </div>
    <% } %>
  </div>
</body>
